<a href="https://colab.research.google.com/github/Adi7171/scraping/blob/main/swiggy/Swiggy_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("swiggy3.csv")
df

     Unnamed: 0  ... cost
0             0  ...  330
1             1  ...  374
2             2  ...  170
3             3  ...  470
4             4  ...  269
..          ...  ...  ...
315         315  ...  367
316         316  ...  367
317         317  ...  399
318         318  ...  357
319         319  ...  581

[320 rows x 5 columns]

# Make a new Dataset of convenience

In [ ]:
def remove(string):
    return string.replace(" ", "")

In [ ]:
day =[]
weekday =[]
month =[]
year =[]
for i in range(len(df['date'])):
  s = df['date'][i]
  s=s.split(",")
  s[0]=s[0].split("|")
  s[0][1]=remove(s[0][1])
  s[1]=s[1].split(" ")
  s[2]= remove(s[2])
  day.append(s[1][2])
  year.append(s[2])
  month.append(s[1][1])
  weekday.append(s[0][1])

In [ ]:
len(day)

320

In [ ]:
new_dict = {'place':df['place'],'item':df['item'],'day':day,'month':month,'year':year,'weekday':weekday,'cost':df['cost']}

In [ ]:
df1= pd.DataFrame(new_dict)

In [ ]:
df1

                      place  ... cost
0             Ohri's Eatmor  ...  330
1                   BlueFox  ...  374
2       Agra Sweets Banjara  ...  170
3       Agra Sweets Banjara  ...  470
4                McDonald's  ...  269
..                      ...  ...  ...
315             Cream Stone  ...  367
316  Bikanervala Food Court  ...  367
317           Ohri's Eatmor  ...  399
318               Shubavsar  ...  357
319               Shubavsar  ...  581

[320 rows x 7 columns]

# Which date has the most number of orders

In [ ]:
df1.groupby('day','month','year')

ValueError: ignored

# Money spent during an year

In [ ]:
cost_of_2022=df1[df1['year']=='2022']['cost'].sum()
cost_of_2022

874

In [ ]:
yr =[]
ct=[]
for i in range(2018,2023):
  ct.append(df1[df1['year']==f'{i}']['cost'].sum())
  yr.append(i)

d ={'year':yr,'cost':ct}
cost_and_year = pd.DataFrame(d)

In [ ]:
ct

[38104, 67534, 17384, 22274, 874]

In [ ]:
# import seaborn as sns
# sns.barplot(cost_and_year["year"],cost_and_year["cost"])

import plotly.express as px
fig = px.bar(cost_and_year,x='year',y='cost'
)
fig.show()

In [ ]:
total_cost =0
for i in range(len(ct)):
 total_cost += ct[i]
total_cost

146170

# Most Asked Group of Items

In [ ]:
item_count = df1['item'].value_counts()

In [ ]:
item_count

Paneer Makhanwala x 1                                                          5
Paneer 65 x 1, Vegetable Spring Roll x 1                                       5
Lover's Paradise x 1                                                           4
Tall Beauty x 1, Awful Awful Mini Brownie x 1                                  3
Paneer Butter Masala x 1, Schezwan Vegetable Fried Rice x 1                    3
                                                                              ..
Bakasura Jelabi x 1                                                            1
Choco Lava Cake x 1, Paneer Makhani x 1, Cheesy x 1, Garlic Breadsticks x 1    1
Ghee Kaju Pakoda x 1, Boondi Laddu  x 1                                        1
Paneer Maska   x 1, Masala Kulcha   x 1, Naan Butter   x 3                     1
Deluxe Punjabi Surprise x 1, Veg Manchurian Dry x 1                            1
Name: item, Length: 282, dtype: int64

In [ ]:
ic = pd.DataFrame(item_count)
ic = ic.reset_index()
ic = ic.rename(columns={ic.columns[0]: 'items',ic.columns[1]:'counts'})
ic

                                                 items  counts
0                                Paneer Makhanwala x 1       5
1             Paneer 65 x 1, Vegetable Spring Roll x 1       5
2                                 Lover's Paradise x 1       4
3        Tall Beauty x 1, Awful Awful Mini Brownie x 1       3
4    Paneer Butter Masala x 1, Schezwan Vegetable F...       3
..                                                 ...     ...
277                                Bakasura Jelabi x 1       1
278  Choco Lava Cake x 1, Paneer Makhani x 1, Chees...       1
279            Ghee Kaju Pakoda x 1, Boondi Laddu  x 1       1
280  Paneer Maska   x 1, Masala Kulcha   x 1, Naan ...       1
281  Deluxe Punjabi Surprise x 1, Veg Manchurian Dr...       1

[282 rows x 2 columns]

In [ ]:
most_asked_items = ic[ic['counts']==ic['counts'][0]]
most_asked_items

                                      items  counts
0                     Paneer Makhanwala x 1       5
1  Paneer 65 x 1, Vegetable Spring Roll x 1       5